body {
    padding-top: 50px;
}
.sidebar {
    display: none;
}
.btn-group {
    margin-bottom: 5px;
}
.pagination{
    padding: 0 10px;
}
.table {
    padding: 0 10px;
}
.btn {
    margin-right: 4px;
}
@media (min-width: 768px) {
    .sidebar {
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        box-sizing: border-box;
        min-height: 1px;
        float: left;
        width: 16.66666667%;
        position: fixed;
        top: 30px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.page-header {
    margin-top: 20px;
}
/*.main {*/

/*    font-size: 14px;*/
/*    line-height: 1.42857143;*/
/*    color: #333;*/
/*    box-sizing: border-box;*/
/*    position: relative;*/
/*    min-height: 1px;*/
/*    float: left;*/
/*    width: 83.33333333%;*/
/*    margin-left: 16.66666667%;*/
/*    padding: 20px;*/
/*    padding-right: 40px;*/
/*    padding-left: 40px;*/
/*}*/
